!!! 5
%html{lang:"en", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:og':"http://ogp.me/ns#"}
  %head
    %meta{name:"viewport", content:"initial-scale=1.6, maximum-scale=1.0, width=device-width" }
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %title Detect
    %script{src:"/javascripts/poc/namespace.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/underscore.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/jquery-1.9.1.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/jquery-migrate-1.1.1.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/jquery.prettify.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/modernizr-latest.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/detectizr.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/screenfull.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/poc/utils/strings.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/poc/utils/detect.js", type:'text/javascript', charset:'utf-8'}
    %link{rel:'stylesheet', href:'//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'}
    %link{rel:'stylesheet', href:'/css/detect.css'}
  %body
    %h1
      AT&T Labs HTML5 U-verse POC
    %h3
      #warning
    %h2
      Directions
    %a#app
    %p
      %a#info
    #no_dice
    #device_info
  :javascript
    $().ready(function(){
      poc.Utils.Detect.init();
    });