/* Device Detection CSS */

body {
  width : 100%;
  height : 100%;
  margin: 16px;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  width : 100%;
  height : 100%;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#device_info {
  width: 488px;
}