/* Image Check Provider Buttons CSS */
.white {
  background-color: white;
  height: 40px;
  width: 40px;
}
.rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid;
}
.shadow {
  -webkit-box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
* :focus {
  outline: 0;
}
#providers {
  float: left;
  padding: 10px;
  margin-top: 16px;
}
.disabled {
  opacity: 0.5;
  cursor: none;
}
