@import 'base';
/* Image Check Provider Buttons CSS */
@shadow : inset 0 0 10px #000000;
@border-radius : 10px;

.white {
    background-color: white;
    height: 40px;
    width: 40px;
}

.rounded-corners {
    .border-radius (@border-radius);
    border: 1px solid;
}

.shadow {
    .box-shadow (@shadow);
}

* :focus {
    outline: 0;
}

#providers {
  float: left;
  padding: 10px;
  margin-top: 16px;
}

.disabled {
  opacity: 0.5;
  cursor: none;
}