/* Search */
@button-color : rgba(127,255,255,0.75);
@background-hover : rgba(0,255,255,0.5);

#icon_nav {
  position: fixed;
  top: 5em;
  right: -10em;
}

a [class^=icon-], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: none;
}

.button(){
  background-color: transparent;
  border: 1px solid @button-color;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 16px;
}

.spaceygreen(@font-size : 1em) {
  color: @button-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  padding: 16px;
  position: absolute;
  font-size: @font-size;
}

#search {
  position: relative;
}

#search_box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 360px;
  text-align: center;
  background-color: black;
  padding: 40px;
  input {
    .button();
    color: #ffffff;
    -webkit-border-radius: 0px; /* workaround for ios safari */
  }
  img {
    outline: none;
  }
}

#search_button {
  .button();
  color: @button-color;
  margin-left: 10px;
}

.element_icon {
  width: 53px;
  height: 53px;
  border: solid 3px white;
  margin: 10px 10px;
}

#searchElem {
  vertical-align: middle;
  text-align: center;
  float: left;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: top;
}

#video_container {
  height: 0;
  position: absolute;
}

.darker_overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  cursor: pointer;
  height: 471px;
  width: 480px;
  z-index: 999
}

.video_detail_content {
  p {
    width: 85%;
  }
}

button {
  color: @button-color;
  background: transparent;
  outline: 1px solid @button-color;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: @background-hover;
  }
  &:active{
    color: black;
    background-color: @button-color;
  }
}

#providers {
  float: left;
}

.detail_poster_container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.smaller {
  min-height: 360px;
  min-width: 480px;
}

#video_info_container {
  line-height: normal;
  background-color: black;
}

.elposter {
  position: absolute;
}

.elementspaceygreen {
  width: 448px;
  top: 320px;
  .spaceygreen(2em);
}

.detailspaceygreen {
  .spaceygreen();
}

.posterInfo {
  font-size: 2em;
  font-weight: bold;
  font-family: Arial;
  background-color: black;
  color: @button-color;
  position: 'absolute';
}

.icon-remove-sign {
  font-size: 33px;
  float: right;
  position: absolute;
  z-index: 9999999;
  bottom: 0;
}

.greenInfo {
  font-size: 1em;
}

@media (max-width: 767px) {
  #search_box {
    padding: 0px;
  }
}
